<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gagyi.test">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Firebase Test App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Sapientia" />
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login" />
        <activity android:name=".ListApplications" />
        <activity android:name=".UserInterface" />
        <activity android:name=".EducatorInterface" />
        <activity android:name=".GestureDetection" />
        <activity android:name=".TestGameOne" />
        <activity android:name=".EducatorLog" />
        <activity android:name=".ParentInterface"></activity>
    </application>

</manifest>